
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

.navigationbar {
	overflow: hidden;
	background-color:#0275f8;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.navbaritem {
	color: white;
}

.margin {
	vertical-align: middle;
	margin: 15px;
}

.introdiv {
	margin-top: 5%;
}